<div class="container">
<div class="row">
<div class="col-12">
<h1>Slevový kupón</h1>
<p>Ak jste v rámci marketingové kampane obdrželi slevový kupón, vyplňte nasledující formulár.<p>


<form method="post" action="/ApplyBonus/type={{type}}">
    <div class="form-group">
        <label for="couponCode">Kód kupónu</label>
        <input class="form-control" name="couponCode" id="couponCode" placeholder="Zadejte kód kupónu" value="{{code}}">
    </div>
    <button type="submit" class="btn btn-primary">Uplatnit slevu</button>
</form>
    
    
</div>
</div>
</div>
</div>