<div class="container">
<div class="row">
<div class="col-12">
<h1>Zľavový kupón pre známich</h1>
{{#sent}}
<div class="alert alert-success">Email bol zaradený do fronty na odoslanie</div>
{{/sent}}
<p>Ponúkame Vám možnosť vytvorenia zľavového kupónu pre Vašich známich. Máte k dispozícii 2 verzie kupónov a pri ich využití zíkate aj Vy odmenu.<p>

</div>

<div class="col-md-6">

    <h2>Kupón s neobmedzenou platnosťou</h2>
    <p>Tento kupón môžete využiť pre ľudí ktorých nepoznáte, napríklad ak máte webstránku, alebo umiestnením v diskusnom fóre alebo facebooku.<p>
    <p>Nový klient získa zľavu <b>10%</b>.</p>
    <p>Vy dostane ako odmenu 1 mesiac zdarma Fin Premium účtu.</p>
    <p>Váš neobmedzený kód je: <span style="font-size:30px;font-weight:bold">{{code}}</span></p>
    <code>https://www.cz-fin.com/R/c={{code}}</code>
</div>

<div class="col-md-6">

<h2>Kupón s platnosťou 1 týždeň</h2>
<p>Tento kupón môžete využiť pre ľudí ktorých poznáte a viete, že sa im naše služby budú hodiť.<p>
<p>Nový klient získa zľavu až <b>20%</b>.</p>
<p>Vy dostane ako odmenu 1 mesiac zdarma Fin Premium účtu.</p>
<a class="btn btn-primary" href="/NewBonus">Vytvoriť kód</a>
</div>

</div>
</div>
</div>