<div class="container">
<div class="row">
<div class="col-12">
<h1>Slevový kupón pro známých</h1>
{{#sent}}
<div class="alert alert-success">Email byl zařazen do fronty k odeslání</div>
{{/sent}}
<p>Nabízíme Vám možnost vytvoření slevového kupónu pro Vašich známých. Máte k dispozici 2 verze kupónů a při jejich využití zíkate i Vy odměnu.<p>

</div>

<div class="col-md-6">

    <h2>Kupón s neomezenou platností</h2>
    <p>Tento kupón můžete využít pro lidi které neznáte, například pokud máte web, nebo umístěním v diskusním fóru nebo facebooku.<p>
    <p>Nový klient získá slevu <b>10%</b>.</p>
    <p>Vy dostane jako odměnu 1 měsíc zdarma Fin Premium účtu.</p>
    <p>Váš neomezený kód je: <span style="font-size:30px;font-weight:bold">{{code}}</span></p>
    <code>https://www.cz-fin.com/R/c={{code}}</code>
</div>

<div class="col-md-6">

<h2>Kupón s platností 1 týden</h2>
<p>Tento kupón můžete využít pro lidi které znáte a víte, že se jim naše služby budou hodit.<p>
<p>Nový klient získá slevu až <b>20%</b>.</p>
<p>Vy dostane jako odměnu 1 měsíc zdarma Fin Premium účtu.</p>
<a class="btn btn-primary" href="/NewBonus">Vytvořit kód</a>
</div>

</div>
</div>
</div>