<h1>Zakoupení licence</h1>
{{{Promo}}}
<h2>Platba bankovým prevodem</h2>
<p>
<a class="btn btn-xs btn-light float-right" href="/ApplyBonus/type={{type}}" >Použít kupón</a>
<a class="btn btn-xs btn-light float-right" href="/ProformaInvoice/type={{type}}/vs={{VS}}/ss={{SS}}/a={{Amount}}/c={{Currency}}/ta={{TotalAmount}}/d={{Discount}}/n={{Note}}" >Odeslat zálohovou fakturu</a>

Po přijetí platby Vám vystavíme fakturu.</p>
<table class="table">

{{#HasDiscount}}

<tr><th>Částka:</th><td>{{Amount}} {{Currency}}</td></tr>
<tr><th>Sleva:</th><td>{{Discount}} {{Currency}}</td></tr>
<tr><th>Celková částka:</th><td><b>{{TotalAmount}}</b> {{Currency}}</td></tr>

{{/HasDiscount}}

{{^HasDiscount}}
<tr><th>Částka:</th><td><b>{{Amount}}</b> {{Currency}}</td></tr>
{{/HasDiscount}}
{{#GoPayAllowedUser}}
<tr><th>Zaplatit cez GoPay:</th><td>
<a class="btn btn-xs btn-light" href="/GoPay/type={{type}}/vs={{VS}}/ss={{SS}}/a={{Amount}}/c={{Currency}}/ta={{TotalAmount}}/d={{Discount}}/n={{Note}}" ><img src="/img/gopay.png" title="Zaplatit cez GoPay" alt="Zaplatit cez GoPay"></a>

<a class="btn btn-xs btn-light" href="/GoPay/paymenttype=card/type={{type}}/vs={{VS}}/ss={{SS}}/a={{Amount}}/c={{Currency}}/ta={{TotalAmount}}/d={{Discount}}/n={{Note}}" >Kartou</a>
|
<a class="btn btn-xs btn-light" href="/GoPay/paymenttype=bank/type={{type}}/vs={{VS}}/ss={{SS}}/a={{Amount}}/c={{Currency}}/ta={{TotalAmount}}/d={{Discount}}/n={{Note}}" >Bankovým prevodem</a>
|
<a class="btn btn-xs btn-light" href="/GoPay/paymenttype=bitcoin/type={{type}}/vs={{VS}}/ss={{SS}}/a={{Amount}}/c={{Currency}}/ta={{TotalAmount}}/d={{Discount}}/n={{Note}}" >Bitcoinom</a>

</td></tr>
{{/GoPayAllowedUser}}
<tr><th>VS:</th><td>{{VS}}</td></tr>
<tr><th>SS:</th><td>{{SS}}</td></tr>
{{#Name}}<tr><th>Poznámka:</th><td>{{Note}}</td></tr>{{/Name}}
<tr><th>Zaplatit na účet:</th><td>{{Account}}</td></tr>
<tr><th>QR Platby</th><td><img src="data:image/png;base64,{{QRB64}}" title="{{QRCode}}" class="img-thumbnail" width="200px"></td></tr>
</table>