<div class="container">
<div class="row">
<div class="col-12">
<h1>Slevový kupón pro známých</h1>
<p>Nabízíme Vám možnost vytvoření slevového kupónu pro Vašich známých.<p>
<p>Kód kódu pro Vašeho kamaráda k 20% slevě: <span style="font-size:30px;font-weight:bold">{{code}}</span></p>
<code>https://www.cz-fin.com/R/c={{code}}</code>
<p>Kód je platný do: {{validity}}</p>

<h2>Doporučujeme Vám použít formulář pro odeslání kódu Vašemu kamarádovi</h2>
<form action="/Bonus/send=1" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email na Vášho kamaráta">
  </div>
  <div class="form-group">
    <label for="text">Text emailu</label>
    <textarea class="form-control" name="text" id="text" rows="9">Ahoj,

Našel jsem tuto super službu která by se ti mohla hodit. Mají monitoring médií a přehled všech informací o firmách které jsou dostupné od státu.

Denní monitoring lze nastavit od ceny 833 kč / měsíc a pokud se zaregistruješ přes tento kód kupónu, dostaneš slevu 20%.

https://www.cz-fin.com/R/c={{code}}

{{FirstName}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Odeslat</button>
</form>

</div>
</div>
</div>