<div class="container">
<div class="row">
<div class="col-12">
<h1>Zľavový kupón pre známich</h1>
<p>Ponúkame Vám možnosť vytvorenia zľavového kupónu pre Vašich známich. <p>
<p>Kód kódu pre Vášho kamaráta k 20% zľave: <span style="font-size:30px;font-weight:bold">{{code}}</span></p>
<code>https://www.cz-fin.com/R/c={{code}}</code>
<p>Kód je platný do: {{validity}}</p>

<h2>Odporúčame Vám použiť formulár pre odoslanie kódu Vášmu kamarátovi</h2>
<form action="/Bonus/send=1" method="post">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email na Vášho kamaráta">
  </div>
  <div class="form-group">
    <label for="text">Text emailu</label>
    <textarea class="form-control" name="text" id="text" rows="9">Ahoj,

Našiel som túto super službu ktorá by sa ti mohla hodiť. Majú monitoring médií a prehľad všetkých informácií o firmách ktoré sú dostupné od štátu.

Denný monitoring sa dá nastaviť od ceny 833 kč/mesiac a ak sa zaregistruješ cez tento kód kupónu, dostaneš zľavu 20%.

https://www.cz-fin.com/R/c={{code}}

{{FirstName}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Odoslať</button>
</form>

</div>
</div>
</div>