<h1>Fin PERSONAL účet</h1>
<p>Licence Fin PERSONAL slouží pro osobné účely.</p>

<div class="alert alert-info">
        <i class="fa fa-question-circle" aria-hidden="true"></i> <i class="fa fa-question-circle" aria-hidden="true"></i> <i class="fa fa-question-circle" aria-hidden="true"></i> Věděli jste, že s účtem <a href="/Premium">Fin PREMIUM</a> můžete mít 4 další uživatelské účty, o 9 denních monitorů výrazů více, o 9 monitorů měsíčních výrazů více a používat ŽIVÉ monitorování médií? S účtem <a href="/Premium">Fin PREMIUM</a> si také můžete stáhnout naše CSV datové sady.
</div>
<h2>Nová licence</h2>
<p>Založení licence je velmi snadné. Vo formulári níže vyplnte Vaše jméno nebo Vaší firmu a stisknite tlačítko Založiť licenci.</p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form action="/Buy/type=personal" accept-charset="UTF-8" method="post">
        <div class="input-group">
          <input type="text" name="name" id="name" placeholder="Zakoupit pro" class="form-control">
          <span class="input-group-btn">
            <input type="submit" name="commit" value="Založit novú Fin PERSONAL licenci" class="btn btn-primary" data-disable-with="Search">
          </span> 
        </div>
      </form>
    </div>
  </div>
</div>

{{{Form_LicenceOverview}}}