<div class="card">

    {{^HasLicence}}
    <h1 class="card-header">Vyhledávaní firem</h1>
    <div class="card-body">
        <form class="form-inline  justify-content-center" method="post" action="/Search/">
            <div class="input-group col-md-12">
              <input type="text" class="form-control" name="text" placeholder="Název nebo IČO společnosti" value="{{Term}}">
              <button type="submit" class="btn btn-outline-primary mb-2">Vyhledat</button>
            </div>
        </form>
    </div>
    {{/HasLicence}}
    {{#HasLicence}}
    <h1 class="card-header">Pokročilé vyhledávání firem</h1>
    <div class="card-body">
        <form class="justify-content-center" method="post" action="/Search/">
            <div class="form-group row">
              <label for="text" class="col-md-3 col-form-label">Název nebo IČO společnosti</label>
              <div class="col-md-9">
                <input id="text" type="text" class="form-control" name="text" placeholder="Název nebo IČO společnosti" value="{{Term}}">
              </div>
            </div>

            <div class="row">
            <div class="col-md-4">
                <div class="form-group">
              <label for="nace" >Činnost</label>
              <select id="nace" class="form-control" name="nace">
                <option disabled selected>Filter podle činnosti</option>
                <option value="">Bez filtru</option>
                {{#Cinnosti}}
                <option value="{{ID}}" {{#Selected}}selected{{/Selected}}>{{Name}}</option>
                {{/Cinnosti}}
              </select>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="form-group">
              <label for="size" >Velkost organizace</label>
              <select id="size" class="form-control" name="size">
                <option disabled selected>Filtr podle počtu zaměstnanců</option>
                <option value="">Bez filtru</option>
                {{#Velkost}}
                <option value="{{ID}}" {{#Selected}}selected{{/Selected}}>{{Name}}</option>
                {{/Velkost}}
              </select>
            </div>
            </div>
            
            <div class="col-md-4">
            <div class="form-group">
              <label for="kraj" >Kraj</label>
              <select id="kraj" class="form-control" name="kraj">
                <option disabled selected>Filtr podle kraje</option>
                <option value="">Bez filtru</option>
                {{#Kraje}}
                <option value="{{ID}}" {{#Selected}}selected{{/Selected}}>{{Name}}</option>
                {{/Kraje}}
              </select>
            </div>
            </div>
            
            </div>
            
            

          <button type="submit" class="btn btn-outline-primary mb-2">Vyhledat</button>
        </form>
    </div>
    {{/HasLicence}}


</div>

{{#Firmy.0}}
{{#HasLicence}}
<div class="row">
<div class="col-12" style="margin: 1em 0">
    <a class="btn btn-light btn-outline-primary float-right" href="/Search/s={{Term}}/export=csv">Export do Excelu</a>
</div>
</div>
{{/HasLicence}}
<table class="table table-sm">
<thead><tr><th>Firma</th><th class="text-center">Rating (nejlepší 100)</th><th>Velkost</th><th>Web</th><th>Telefon</th><th>Email</th></thead>
<tbody>
{{#Firmy}}
<tr>
    <td>
        <a class="btn btn-light form-control" href="/Firma/ico={{ICO}}/n={{clear}}">{{Name}}</a>
    </td>
    <td class="text-center">
        {{Rating}}
    </td>
    <td class="">
        {{Size}}
    </td>
    <td>
        {{#Web}}
            <a href="{{Web}}" target="_blank">{{Web}}</a>
        {{/Web}}
    </td>
    <td>
        {{#Tel}}
            <a href="tel:{{Tel}}" target="_blank">{{Tel}}</a>
        {{/Tel}}
    </td>
    <td>
        {{{Email}}}
    </td>
</tr>
{{/Firmy}}
</tbody>
</table>
{{/Firmy.0}}

{{^Firmy.0}}

{{#Term}}
<br>
<p class="alert alert-warning">Neboli nájdené žiadne firmy</p>
{{/Term}}
{{^Term}}
<br>
<p class="alert alert-primary">Zadejte vyhladávací výraz</p>
{{/Term}}

{{/Firmy.0}}