<h1>Statistiky dat - naše datové sady</h1>

<div class="row">

{{#Stats}}

<div class="col-sm-3">
<br>
<div class="card">
 <h4 class="card-header">{{Title}}{{#Dataset}}<a class="btn btn-xs btn-light pull-right" href="{{LinkToDownload}}" title="{{Size}}"><i class="fa fa-download" aria-hidden="true"></i></a>{{/Dataset}}</h4>
 <div class="card-body">
    <div class="col-12">{{FirstLine}} <span class="badge badge-primary badge-pill float-right">{{FirstLineNumber}}</span></div>
    {{#SecondLine}}<div class="col-12" style="font-size:smaller">{{SecondLine}} <span class="badge badge-light badge-pill float-right">{{SecondLineNumber}}</span></div>{{/SecondLine}}
    {{#Last}}<div class="col-12" style="font-size:smaller">Poslední změna: <span class="badge badge-light badge-pill float-right">{{Last}}</span></div>{{/Last}}
    
 </div>
</div>

</div>
{{/Stats}}
</div>
