<br>
<div class="text-center">
<h1>Ceník</h1>
<br>
</div>
<table class="table table-borderless ">
<tr><td></td><td class="free w-25"><h2>Fin FREE</h2></td><td class="premium  w-25"><h2>Fin PREMIUM</h2></td><td class="ultimate  w-25"><h2>Fin ULTIMATE</h2></td></tr>
<tr><td></td><td class="free">Zadarmo</td><td class="premium">9999 Kč / rok</td><td class="ultimate">49 999 Kč / rok</td></tr>
<tr><td>Přístup do zamknutých funkcí</td><td class="free"><i class="fa fa-times red"></i></td><td class="premium"><i class="fa fa-check green"></i></td><td class="ultimate"><i class="fa fa-check  green"></i></td></tr>

<tr><td>Pokročilé filtrování v databázích</td><td class="free"><i class="fa fa-times red"></i></td><td class="premium"><i class="fa fa-check green"></i></td><td class="ultimate"><i class="fa fa-check  green"></i></td></tr>

<tr><td>Exporty do excelu</td><td class="free"><i class="fa fa-times red"></i></td><td class="premium"><i class="fa fa-check green"></i></td><td class="ultimate"><i class="fa fa-check  green"></i></td></tr>


<tr><td>Fin API</td><td class="free"><i class="fa fa-times red"></i></td><td class="premium"><i class="fa fa-times red"></i></td><td class="ultimate"><i class="fa fa-check  green"></i></td></tr>

<tr><td>CSV datasety</td><td class="free"><i class="fa fa-times red"></i></td><td class="premium"><i class="fa fa-times red"></i></td><td class="ultimate"><i class="fa fa-check  green"></i></td></tr>


</table>