<div class="col-12">
    <div class="text-center">
        <h1>Pricing</h1>
        <p>Please, send us list of phrases you want to track to <a href="mailto:info@cz-fin.com?subject=Request for monitoring&body=Please send us daily and monthly monitoring for the following keywords: &lt;SELECTION 1 - 10 EXPRESSIONS&gt;%0D%0A%0D%0AOur billing information: <NAME / COMPANY>, <IDENTIFIER>, <SEAT / ADDRESS>, <PHONE>">info@cz-fin.com</a>, your billing information, and we set everything for you.</p>
    <br/>
    
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-sm">
            <tr>
                <td/>
                <td class="free darken2" style="width:20%">
                    <span style="font-size:large">Fin FREE</span>
                </td>
                <td class="personal  darken2" style="width:20%">
                    <span style="font-size:large">Fin PERSONAL</span>
                </td>
                <td class="premium darken2" style="width:20%">
                    <span style="font-size:large">Fin PREMIUM</span>
                </td>
                <td class="enterprise darken2" style="width:20%">
                    <span style="font-size:large">Fin ENTERPRISE</span>
                </td>
            </tr>
            <tr>
                <td>Monthly invoicing</td>
                <td class="free darken1">Free</td>
                <td class="personal darken1">39.99 &euro;</td>
                <td class="premium darken1">159.99 &euro;</td>
                <td class="enterprise darken1">799.99 &euro;</td>
            </tr>
            <tr>
                <td>Annual invoicing</td>
                <td class="free darken1">Free</td>
                <td class="personal darken1">399.99 &euro;</td>
                <td class="premium darken1">1,599.99 &euro;</td>
                <td class="enterprise darken1">7,999.99 &euro;</td>
            </tr>

            <tr>
                <td><a href="#VyhledavaniPodleICO">Search by company identifier</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
            <tr>
                <td><a href="#VyhledavaniPodleFirmy">Search by company name</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
            <tr>
                <td><a href="#kategorizace-firem-podle-cinnosti">Categorization of companies by activity</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#data-o-firmach">Limited business data from different sources</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#locked-options">Access to locked features</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#pokrocile-filtrovani-firem">Advanced database filtering</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#export-firem-do-excelu">Export to Excel</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <!--
            <tr>
                <td>Fin API</td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-times red"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
        -->
            <tr>
                <td><a href="#csv-datasety">CSV datasets</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-times red"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#pocet-uzivatelu">Number of users</a></td>
                <td class="free">0</td>
                <td class="personal">1</td>
                <td class="premium">5</td>
                <td class="enterprise">Unlimited</td>
            </tr>

            <tr>
                <td><a href="#live-monitoring-medii">LIVE media monitoring</a></td>
                <td class="free">0</td>
                <td class="personal">0</td>
                <td class="premium">5 expressions</td>
                <td class="enterprise">Unlimited</td>
            </tr>
            <tr>
                <td><a href="#slack-integration">Slack integration</a></td>
                <td class="free"><i class="fa fa-times red"/></td>
                <td class="personal"><i class="fa fa-times red"/></td>
                <td class="premium"><i class="fa fa-check  green"/></td>
                <td class="enterprise"><i class="fa fa-check  green"/></td>
            </tr>
            <tr>
                <td><a href="#denni-monitoring-medii">Daily media monitoring</a></td>
                <td class="free">0</td>
                <td class="personal">1 expression</td>
                <td class="premium">10 expressions</td>
                <td class="enterprise">Unlimited</td>
            </tr>
            <tr>
                <td><a href="#mesicni-monitoring-medii">Monthly media monitoring</a></td>
                <td class="free">0</td>
                <td class="personal">1 expression</td>
                <td class="premium">10 expressions</td>
                <td class="enterprise">Unlimited</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><a href="/Buy/type=personal" class="btn btn-xl btn-primary form-control">Buy Fin PERSONAL license</a></td>
                <td><a href="/Buy/type=premium" class="btn btn-xl btn-primary form-control">Buy Fin PREMIUM license</a></td>
                <td><a href="/Buy/type=enterprise" class="btn btn-xl btn-primary  form-control">Buy Fin ENTERPRISE license</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="col-12">

        <h2 id="VyhledavaniPodleICO">Search by company identifier</h2>
        <p>On the <a href="/Search"> search page </a>, enter your business ID in the search query. If there is a company ID, you will be taken directly to the company information website.</p> 
        <h2 id="VyhledavaniPodleFirmy">Search by company name</h2>
        <p>On the <a href="/Search"> search page </a>, paste a portion of your company name into your search. Search displays a list of all companies that contain the search string. If you have an active license, your search will also include your email, website, and phone number if stored in our database. With a license, you can also export your search to a CSV file and use it in Excel.</p> 
        <h2 id="kategorizace-firem-podle-cinnosti">Categorization of companies by activity</h2>
        <p><a href="/img/info/katalog.png" data-lightbox="help" class="img-thumbnail float-right"> <img src = "/ img / info / catalog.png" style = "max -height: 100px "> </a> You can find companies <a href="/"> in the catalog </a> with regard to their business. We use NACE categories to browse and search for companies that have the same or similar activity to yours. Our catalog is sorted by our internal rating system. You can see your ratings either on the search page or on your company profile page.</p>
        
        <h2 id="data-o-firmach">Limited business data from different sources</h2>
        <p>Our main mission is to combine available data from various sources. This project was created at hackathone <a href="https://hackujstat.cz" target="_blank"> #hackujstat </a>, where we found many interesting data sources. We have downloaded all available data and analyzed which data contains valid business references. We have linked this data to the company profile page as well as a link to the original data source. We regularly monitor the newspaper's website. With the live data feed, you can see the latest news. We combined the news source with company or directors information, so if a manager is listed in the reports, you can easily view the reports on the company profile page.</p>
        
        <h2 id="locked-options">Access to locked features</h2>
        <p><a href="/img/info/ locked-functions.png" data-lightbox="help" class="img-thumbnail float-right"> <img src = "/ img / info / locked-features.png" style = "max-height: 100px"> </a> Unfortunately server traffic and website development is not the cheapest thing to do. Advertising revenue for webmasters has a decreasing tendency as more and more people use ad-block. We do not consider using alternative earning methods as dragging cryptomen against the background of the page to be moral and effective, so we have decided that some parts of the page are locked. If you want to support this project of state data monitoring, business information aggregation and print monitoring, we would be very pleased if you buy at least a basic subscription. We believe that the price of less than 900 CZK per month is acceptable for anyone who wants to support us. He will receive the following benefits from him as a reward: </p>
        <ol> <li> Unlock hidden business information, such as contact information; <li> Advanced Business Search; <li> Export Data to Excel; <li> Media Monitoring. </ol> <p> With a higher subscription, download our datasets and more daily and monthly media monitoring reports, and live media monitoring.</p>
        <h2 id="pokrocile-filtrovani-firem">Advanced database filtering</h2>
        <p><a href="/img/info/advanced-filter.png" data-lightbox="help" class="img-thumbnail float-right"> <img src = "/ img / info / advanced-filter.png" style = "max-height: 100px"> </a> After purchasing at least the Fin Personal license, the user will see an advanced filter when searching. In addition to the standard search by company ID or by company name, licensed can also be filtered by: </p> <ol> <li> primary company activity; <li> by organization size and <li> by location. </ol> <p> With this license, you can also use this filter to export contact data to Excel.</p>
        <h2 id="export-firem-do-excelu">Export do Excel</h2>
        <p>After purchasing at least a Fin Personal license, the user will be able to export the data to a CSV format, which can be imported or opened in a spreadsheet, such as MS Excel, when searching. This export saves the first 1000 rows by the specified filter, sorted by our internal <a href="#rating"> rating system </a>. In addition to the company name and company ID, we also export the value of our internal rating in rating and maxrating format, where the overall quality of the company can be expressed as a proportion of these numbers. Rating 100% means the best quality company. A rating of 80% means that 20% of companies in the Czech Republic were rated higher. In addition to this information, the company's main website, main email and main phone contact are also exported if we have this information about the company.</p>
        <h2 id="csv-datasety">CSV datasets</h2>
        <p>Our main mission is to combine available data from various sources, such as the state. This project was created at hackathone <a href="https://hackujstat.cz" target="_blank"> #hackujstat </a>, where we found a lot of interesting data sources and we created a system to automatically download and process new datasets that published by the state. We process this data contextually and aggregate it according to its importance - for example, invoices, orders, contracts, business lists and so on. After purchasing a license at least Fin Premium, we allow these aggregated data to be downloaded. Output in CSV format in UTF-8 encoding is compressed via gzip. Data is available for download at <a href="/Stats"> our datasets </a>.</p> 
        <h2 id="pocet-uzivatelu">Number of users</h2>
        <p>In our system, you can manage users who have access to the features of the purchased license. If you are a License Administrator, click the "Manage Users" button in the <a href="/Form_LicenceOverview"> License Overview </a>. You can add new users to the list as either other administrators or standard users. Administrators can manage users, and licenses must still have at least one administrator. Administrators and standard users can use all license functions - Use locked features, exports, or print monitoring.</p>
        
        <h2 id="live-monitoring-medii">LIVE media monitoring</h2>
        <p>We monitor selected websites that have a media impact on the population. We analyze the text of each article and create a contextual overview of the reports that can be seen, for example, on the <a href="/Reports"> Media Monitoring page </a>. If you purchase at least the Fin PREMIUM license, we will allow you to watch these reports live. After you set a keyword or term on the <a href="/Form_MonitorLiveCI"> LIVE media monitoring </a> page, we'll send you a link to the new message as soon as we analyze it and detect that it contains the term you entered. Monitoring does not depend on diacritics and we do not decline keywords, but you can use only part of a word, for example, without the suffix. If you support our service, in the future we plan to process the inflection to make it easier. However, this requires additional cost of computing power and personnel linguistic resources.</p>
        
        <h2 id="denni-monitoring-medii">Daily media monitoring</h2>
        <p>We monitor selected websites that have a media impact on the population. We analyze the text of each article and create a contextual overview of the news that can be made by videos, for example, on the <a href="/Reports"> Media Monitoring </a> page. If you purchase at least Fin PERSONAL license from 900 CZK / month, we will enable you to set up keywords or expression on the page <a href="/Form_MonitorDayCI"> Media monitoring - daily report </a>. We generate the report at 8:00 am so you can view the reports for the morning coffee. Monitoring is not dependent on diacritics and we do not declare keywords. Currently, you need to enter an entire expression that can consist of up to 3 words. If you support our service, in the future we plan to process the inflection to make it easier. However, this requires additional cost of computing power and personnel linguistic resources.</p>
        
        <h2 id="mesicni-monitoring-medii">Monthly media monitoring</h2>
        <p>Monthly media monitoring works the same as <a href="#denni-monitoring-medii"> daily monitoring </a>, but the report is sent at half-night in the morning of the new month and includes the entire previous month. If the report contains too many links, only the last 500 messages are displayed. Tracking terms are set up on the <a href="/Form_MonitorMonthCI"> Media Monitoring Monthly Report </a> page. If you support our service, in the future we plan to process the inflection to make it easier. However, this requires additional cost of computing power and personnel linguistic resources.</p>
        <h2 id="slack-integration">Slack integration</h2>
        <p>You can set up the incoming webhook for your slack environment, and we will post to your channel the latest news for your keywords as they occurre in the media. You can set up your webhook in LIVE monitor editor. You can set up webhooks for your slack according to <a href="https://api.slack.com/messaging/webhooks" target="_blank">this tutorial</a>.</p>
        <p>The Slack integration is set up in <a href="/Form_MonitorLiveCI">LIVE Keywords setup</a>. You can append the channel name after the address.</p>
        <code>https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX#general</code>
        <h2 id="rating">Company rating</h2>
        <p>Our internal algorithm evaluates the quality of every Czech company. On the basis of public data we examine the interconnection of companies with state institutions and evaluate their economic stability. If a company has a higher share capital, or if the company has been on the market longer, or specializes in a specific activity, it has a higher rating than another company. Every Czech company is assigned a rating in our system, and the algorithm ranks companies according to this rating. In the categories of activities we classify companies according to their rating. A business rating is available to download business export options for advanced filtering or as a <a href="/Stats"> dataset </a>.
        </p>
        <p>AAA-F rating range:</p>
        <ul>
            <li>AAA - 90% companies in the Czech Republic has a lower rating</li>
            <li>AA - 80% companies in the Czech Republic has a lower rating</li>
            <li>A - 70% companies in the Czech Republic has a lower rating</li>
            <li>B - 50% companies in the Czech Republic has a lower rating</li>
            <li>C - 30% companies in the Czech Republic has a lower rating</li>
            <li>D - 20% companies in the Czech Republic has a lower rating</li>
            <li>E - 10% companies in the Czech Republic has a lower rating</li>
            <li>F - 90% companies in the Czech Republic has a higher rating</li>
        </ul>
    </div>
</div>