<div class="col-12">
    <div class="text-center">
        <h1>Ceník</h1>
        <p>Pošlete nám do chatu nebo na email <a href="mailto:info@cz-fin.com?subject=Žádost o monitoring&body=Prosím posílejte nám denní a měsíční monitoring pro následující klíčová slova: &lt;VÝBĚR 1 - 10 VÝRAZŮ&gt;%0D%0A%0D%0ANaše fakturační údaje: <JMÉNO / FIRMA>, <IČO>, <SÍDLO / ADRESA>, <TELEFON>"> info@cz-fin.com </a> seznam sledovaných slov, Vaše fakturační údaje, a vše nastavíme za Vás.</p>
    <br/>
    
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-sm">
            <tr>
                <td/>
                <td class="free darken2" style="width:20%">
                    <span style="font-size:large">Fin FREE</span>
                </td>
                <td class="personal  darken2" style="width:20%">
                    <span style="font-size:large">Fin PERSONAL</span>
                </td>
                <td class="premium darken2" style="width:20%">
                    <span style="font-size:large">Fin PREMIUM</span>
                </td>
                <td class="enterprise darken2" style="width:20%">
                    <span style="font-size:large">Fin ENTERPRISE</span>
                </td>
            </tr>
            <tr>
                <td>Měseční fakturace</td>
                <td class="free darken1">Zadarmo</td>
                <td class="personal darken1">999 Kč</td>
                <td class="premium darken1">3 999 Kč</td>
                <td class="enterprise darken1">19 9999 Kč</td>
            </tr>
            <tr>
                <td>Roční fakturace</td>
                <td class="free darken1">Zadarmo</td>
                <td class="personal darken1">9999 Kč</td>
                <td class="premium darken1">39 999 Kč</td>
                <td class="enterprise darken1">199 999 Kč</td>
            </tr>

            <tr>
                <td><a href="#VyhledavaniPodleICO">Vyhledávaní podle IČO</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
            <tr>
                <td><a href="#VyhledavaniPodleFirmy">Vyhledávaní podle firmy</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
            <tr>
                <td><a href="#kategorizace-firem-podle-cinnosti">Kategorizace firem podle činností</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#data-o-firmach">Limitované data o firmách z různých zdrojů</a></td>
                <td class="free">
                    <i class="fa fa-check green"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#locked-options">Přístup do zamčených funkcí</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#pokrocile-filtrovani-firem">Pokročilé filtrování v databázích</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#export-firem-do-excelu">Exporty do excelu</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-check green"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <!--
            <tr>
                <td>Fin API</td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-times red"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>
        -->
            <tr>
                <td><a href="#csv-datasety">CSV datasety</a></td>
                <td class="free">
                    <i class="fa fa-times red"/>
                </td>
                <td class="personal">
                    <i class="fa fa-times red"/>
                </td>
                <td class="premium">
                    <i class="fa fa-check  green"/>
                </td>
                <td class="enterprise">
                    <i class="fa fa-check  green"/>
                </td>
            </tr>

            <tr>
                <td><a href="#pocet-uzivatelu">Počet užívatelů</a></td>
                <td class="free">0</td>
                <td class="personal">1</td>
                <td class="premium">5</td>
                <td class="enterprise">Neomezený</td>
            </tr>

            <tr>
                <td><a href="#live-monitoring-medii">LIVE monitoring médií</a></td>
                <td class="free">0</td>
                <td class="personal">0</td>
                <td class="premium">5 výrazů</td>
                <td class="enterprise">Neomezený</td>
            </tr>
            <tr>
                <td><a href="#denni-monitoring-medii">Denní monitoring médií</a></td>
                <td class="free">0</td>
                <td class="personal">1 výraz</td>
                <td class="premium">10 výrazů</td>
                <td class="enterprise">Neomezený</td>
            </tr>
            <tr>
                <td><a href="#mesicni-monitoring-medii">Měsíční monitoring médií</a></td>
                <td class="free">0</td>
                <td class="personal">1 výraz</td>
                <td class="premium">10 výrazů</td>
                <td class="enterprise">Neomezený</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="col-12">

        <h2 id="VyhledavaniPodleICO">Vyhledávaní podle IČO</h2>
        <p>Na <a href="/Search">vyhledávací stránku</a> vložte do vyhledávacího dotazu IČO. Pokud IČO existuje, dostanete se přímo na webovou stránku s informacemi o společnosti.</p> 
        <h2 id="VyhledavaniPodleFirmy">Vyhledávaní podle Firmy</h2>
        <p>Na <a href="/Search">vyhledávací stránku</a> vložte do vyhledávacího dotazu část názvu společnosti. Hledání zobrazí seznam všech společností, které obsahují hledaný řetězec. Pokud máte aktivní licenci, bude v vyhledávání také uveden e-mail, web a telefonní číslo, pokud bylo uloženo v naší databázi. S licencí můžete také exportovat vyhledávání do souboru CSV a použít jej v Excelu.</p> 
        <h2 id="kategorizace-firem-podle-cinnosti">Kategorizace firem podle činností</h2>
        <p><a href="/img/info/katalog.png" data-lightbox="help" class="img-thumbnail float-right"><img src="/img/info/katalog.png" style="max-height: 100px"></a>Společnosti <a href="/">v katalogu</a> najdete s ohledem na činnost společnosti. Používáme kategorie NACE, které můžete procházet a hledat společnosti, které mají stejnou nebo podobnou činnost jako ta vaše. Náš katalog je tříděn podle našeho interního systému hodnocení. Hodnocení můžete vidět buď na vyhledávací stránce, nebo na stránce profilu společnosti.</p>
        
        <h2 id="data-o-firmach">Limitované data o firmách z různých zdrojů</h2>
        <p>Naším hlavním posláním je kombinovat dostupná data z různých zdrojů. Tento projekt byl vytvořen na hackathone <a href="https://hackujstat.cz" target="_blank">#hackujstat</a>, kde jsme našli mnoho zajímavých zdrojů dat. Stáhli jsme všechna dostupná data a provedli analýzu, která data obsahují platné odkazy na firmy. Tato data jsme propojili se stránkou profilu společnosti i s odkazem na původní zdroj dat. Pravidelně sledujeme webové stránky novin. S živým datovým zdrojem můžete vidět poslední zprávy. Kombinovali jsme zdroj zpráv s informacemi o společnosti nebo ředitelích, takže pokud je ve zprávách uveden nějaký ředitel, můžete si zprávy jednoduše prohlédnout na stránce profilu společnosti.</p>
        
        <h2 id="locked-options">Přístup do zamčených funkcí</h2>
        <p><a href="/img/info/zamcene-funkce.png" data-lightbox="help" class="img-thumbnail float-right"><img src="/img/info/zamcene-funkce.png" style="max-height: 100px"></a>Bohužel provoz serverů a vývoj webových stránek není úplně nejlevnější záležitost. Výnos z reklamy pro webmastri ma klesající tendenci protože více a více lidí používá ad-block. Použití alternativních metod výdělku jako tažení kryptomen na pozadí stránky nepovažujeme za morální a efektivní, proto jsme přistoupili k variantě, že některé části na stránce jsou zamčené. Chcete-li podpořit tento projekt monitorování státních dat, agregace informací o firmách a monitoring tisku, budeme velmi rádi pokud si koupíte alespoň základní předplatné. Věříme, že cena méně než 900 kč za měsíc je přijatelná pro každého kdo nás chce podpořit. Za odměnu od nás získá následující výhody:</p>
        <ol><li>Odemknutí skrytých údajů o firmě, například kontaktních údajů;<li>Pokročilé vyhledávání firem;<li>Export dat do excelu;<li>Monitoring médií.</ol><p>S vyšším předplatným získáte i možnost stahování našich datasetů a větší počet denních a měsíčních reportů monitorování médií, a možnost živého sledování médií.</p>
        <h2 id="pokrocile-filtrovani-firem">Pokročilé filtrování v databázích</h2>
        <p><a href="/img/info/advanced-filter.png" data-lightbox="help" class="img-thumbnail float-right"><img src="/img/info/advanced-filter.png" style="max-height: 100px"></a>Po zakoupení alespoň Fin Personal licence se uživateli zobrazí při vyhledávání pokročilý filtr. Vedle standardním vyhledávání podle IČ nebo podle názvu společnosti, s licencí je možné filtrovat i podle:</p><ol><li>primární činnosti společnosti;<li>podle velikosti organizace a<li>podle lokality.</ol><p>S licencí je možné použít tento filtr i pro export dat kontaktních údajů do excelu.</p>
        <h2 id="export-firem-do-excelu">Exporty do excelu</h2>
        <p>Po zakoupení alespoň Fin Personal licence se uživateli zobrazí při vyhledávání možnost exportu údajů do formátu CSV, který lze importovat nebo rovnou otevřít v tabulkovém procesoru, například v MS Excel. Při tomto exportu se uloží prvních 1000 řádků podle zadaného filtru, seřazených podle našeho interního <a href="#rating-firmy">ratingového systému</a>. Vedle názvu společnosti a IČO společnosti se vyexportuje i hodnota našeho interního ratingu ve formátu rating a maxrating, kde celková kvalita firmy lze vyjariť jako podíl těchto čísel. Rating 100% znamená nejkvalitnější firma. Rating 80% znamená, že 20% firem v České republice bylo hodnoceno výše. Vedle těchto údajích se exportuje i hlavní webová stránka společnosti, hlavní email a hlavní telefonní kontakt pokud tyto údaje máme o firmě k dispozici.</p>
        <h2 id="csv-datasety">CSV datasety</h2>
        <p>Naším hlavním posláním je kombinovat dostupná data z různých zdrojů, například od státu. Tento projekt byl vytvořen na hackathone <a href="https://hackujstat.cz" target="_blank">#hackujstat</a>, kde jsme našli mnoho zajímavých zdrojů dat a vytvořili jsme systém automatického stahování a zpracování nových datasetů který zveřejňuje stát. Tyto údaje kontextově zpracováváme a agregát je podle jejich významu - například faktury, objednávky, smlouvy, seznamy podnikatelů a podobně. Po zakoupení licence alespoň Fin Premium umožňujeme tyto agregované údaje ke stažení. Výstup je ve formátu CSV v UTF-8 kódování komprimován přes gzip. Data jsou k dispozici ke stažení na stránce <a href="/Stats">naše datové sady</a>.</p> 
        <h2 id="pocet-uzivatelu">Počet užívatelů</h2>
        <p>V našem systému si můžete spravovat uživatele kteří mají přístup ke funkcím zakoupené licence. Pokud jste administrátor licence, v <a href="/Form_LicenceOverview">přehledu licencí</a> klikněte na tlačítko "Spravovat uživatele". Do seznamu můžete přidat nové uživatele kteří budou buď další administrátoři nebo standardní uživatelé. Administrátoři mohou spravovat uživatele, a licence musí mít stále alespoň jednoho administrátora. Administrátoři i standardní uživatelé mohou používat všechny funkce licence - Používání zamčených funkcí, exporty nebo monitoring tisku.</p>
        
        <h2 id="live-monitoring-medii">LIVE monitoring médií</h2>
        <p>Sledujeme vybrané internetové stránky, které mají mediální vliv na obyvatele. Analyzujeme text každého článku a vytváříme kontextový přehled zpráv který je možné vidět například na stránce <a href="/Spravy">Monitoring médií</a>. Pokud si zakoupíte alespoň Fin PREMIUM licenci, umožníme Vám živé sledování těchto zpráv. Po nastavení klíčového slova nebo výrazu na stránce <a href="/Form_MonitorLiveCI">LIVE monitoring médií</a> Vám odešleme odkaz na novou zprávu okamžitě jak ji zanalyzujeme a detekujeme, že obsahuje Vámi zadaný výraz. Monitoring není závislý na diakritice a klíčová slova neskloňujeme, můžete však použít pouze část ze slova například bez přípony. Pokud naši službu podpoříte, v budoucnu plánujeme zpracovat i skloňování abyste to měli jednodušší. Vyžaduje to však dodatečné náklady na výpočetní sílu a personální lingvistické zdroje.</p>
        
        <h2 id="denni-monitoring-medii">Denní monitoring médií</h2>
        <p>Sledujeme vybrané internetové stránky, které mají mediální vliv na obyvatele. Analyzujeme text každého článku a vytvářejí kontextový přehled zpráv který je možné videa například na stránce <a href="/Spravy">Monitoring médií</a>. Pokuď si zakoupíte alespoň Fin PERSONAL licenci od 900 kč / měsíc, umožníme Vám nastavení klíčových slov nebo výrazu na stránce <a href="/Form_MonitorDayCI">Monitoring médií - denní report</a>. Report generujeme o 8:00 ráno, abyste si k ranní kávičce mohli prohlédnout zprávy. Monitoring není závislý na diakritice a klíčová slova neskloňujeme. Aktuálně je třeba zadat celý výraz který se může skládat až z 3 slov. Pokud naši službu podpoříte, v budoucnu plánujeme zpracovat i skloňování abyste to mele jednodušeji. Vyžaduje to však dodatečné náklady na výpočetní sílu a personální lingvistické zdroje.</p>
        
        <h2 id="mesicni-monitoring-medii">Měsíční monitoring médií</h2>
        <p>Měsíční monitoring médií funguje stejně jako <a href="#denni-monitoring-medii">denní monitoring</a>, avšak report se odesílá o půl noci ráno nového měsíce a obsahuje celý předchozí měsíc. Pokud report obsahuje příliš mnoho odkazů, zobrazuje se v něm pouze posledních 500 zpráv. Sledované výrazy se nastavují na stránce <a href="/Form_MonitorMonthCI">Monitoring médií - měsíční report</a>. Pokud naši službu podpoříte, v budoucnu plánujeme zpracovat i skloňování abyste to mele jednodušeji. Vyžaduje to však dodatečné náklady na výpočetní sílu a personální lingvistické zdroje.</p>
        
        <h2 id="rating-firmy">Rating firmy</h2>
        <p>Náš interní algoritmus vyhodnocuje kvalitu každé české firmy. Na základě veřejných údajů zkoumáme propojení firem na státní instituce a vyhodnocujeme jejich ekonomickou stabilitu. Pokud má firma vyšší základní kapitál, nebo pokud je firma déle na trhu, nebo se užší specializuje na konkrétní činnost, má vyšší rating než jiná firma. Každá česká firma má přidělen v našem systému rating, a algoritmus řadí firmy podle tohoto ratingu. V kategoriích činností třídíme firmy podle jejich ratingu. Rating firmy je dostupný ke stažení možností exportu firmy při pokročilém filtrování nebo ke stažení jako <a href="/Stats">dataset</a>.
        </p>
        <p>Škála hodnocení od AAA-F:</p>
        <ul>
            <li>AAA - 90% firem v ČR má nižší rating</li>
            <li>AA - 80% firem v ČR má nižší rating</li>
            <li>A - 70% firem v ČR má nižší rating</li>
            <li>B - 50% firem v ČR má nižší rating</li>
            <li>C - 30% firem v ČR má nižší rating</li>
            <li>D - 20% firem v ČR má nižší rating</li>
            <li>E - 10% firem v ČR má nižší rating</li>
            <li>F - 90% firem v ČR má vyšší rating</li>
        </ul>
    </div>
</div>