<h1>Changelog cz-fin.com</h1>
<h2>21.11.2019</h2>
<ul>
<li>Started to track german, japanese and russian news</li>
</ul>
<h2>17.11.2019</h2>
<ul>
<li>Automatic 14 day before license expiration email with proforma invoice
</ul>
<h2>16.11.2019</h2>
<ul>
<li>Primary source monitoring
</ul>
<h2>14.11.2019</h2>
<ul>
<li>Slack integration
</ul>
<h2>11.11.2019</h2>
<ul>
<li>English and Slovak version online
</ul>
<h2>30.10.2019</h2>
<ul>
<li>Vyhľadávanie v kontextovej databáze
<li>Vyhľadávanie vyhľadávania v médiách - title a info message keď nie je výsledok
<li>Cenník: Nastavenie za užívateľa pre non-pc ľudí
</ul>
<h1>Changelog cz-fin.com</h1>
<h2>29.10.2019</h2>
<ul>
<li>Vylepšenie spracovania proforma faktúr
</ul>
<h1>Changelog cz-fin.com</h1>
<h2>24.10.2019</h2>
<ul>
<li>Aktivácia GoPay
<li>Pridanie ikoniek platobných kariet do footeru
</ul>
<h2>24.10.2019</h2>
<ul>
<li>Vylepšená administrácia zdrojov správ
<li>Spracované ďalšie mediálne zdroje
<li>Implementace GoPay
<li>Lokalizácia registračného emailu
<li>Lokalizácia emailov a interfacu
</ul>
<h2>23.10.2019</h2>
<ul>
<li>Vylepšená administrácia zdrojov správ
<li>Spracované ďalšie mediálne zdroje
<li>Automatické pridávanie TOP článkov na fcb.. vytvorenie pernamentneho access_token
</ul>
<h2>22.10.2019</h2>
<ul>
<li>Zapracovaný registr smlouv z MVCR
<li>Admin správa kupónov
<li>Vygenerované kupóny pre súťaž OSF
<li>Registrácia do GoPay
<li>Možnosť vygenerovania zálohovej faktúry a odoslanie s obchodnými podmienkami na email
</ul>

<h2>21.10.2019</h2>
<ul>
<li>Registrácia do súťaže OSF
</ul>