<h1>Changelog cz-fin.com</h1>
<h2>24.10.2019</h2>
<ul>
<li>Vylepšená administrácia zdrojov správ
<li>Spracované ďalšie mediálne zdroje
<li>Implementace GoPay
</ul>
<h2>23.10.2019</h2>
<ul>
<li>Vylepšená administrácia zdrojov správ
<li>Spracované ďalšie mediálne zdroje
<li>Automatické pridávanie TOP článkov na fcb.. vytvorenie pernamentneho access_token
</ul>
<h2>22.10.2019</h2>
<ul>
<li>Zapracovaný registr smlouv z MVCR
<li>Admin správa kupónov
<li>Vygenerované kupóny pre súťaž OSF
<li>Registrácia do GoPay
<li>Možnosť vygenerovania zálohovej faktúry a odoslanie s obchodnými podmienkami na email
</ul>

<h2>21.10.2019</h2>
<ul>
<li>Registrácia do súťaže OSF
</ul>