<hr>
<footer>
  <div class="footer-copyright text-center py-3">
    <div>
        © 2019 Copyright: <a href="https://cz-fin.com"> CZ-FIN.com</a>  
    </div>
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/Cz-Fin-100958958001119/" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Cz-Fin-100958958001119/" class="fb-xfbml-parse-ignore"><a target="_blank" href="https://www.facebook.com/Cz-Fin-100958958001119/">Facebook cz-fin page</a></blockquote></div>
    <div>
      <a href="/OCZFin">About us</a> | <a href="/ObchodnePodmienky">Terms &amp; Conditions</a> | <a href="/PersonalData">GDPR and Privacy Policy</a> | <a href="/Cookies">Cookies</a>
    </div>
    <div>
      <a href="/Platby" title="We accept VISA cards"><img alt="VISA" src="/img/logo/visa.png" height="15"></a> | <a title="We accept MASTERCARD payments" href="/Platby"><img alt="MASTERCARD" src="/img/logo/mastercard.png" height="25"></a> | <a title="We accept BITCOIN payments" href="/Platby" ><img src="/img/logo/bitcoin.png" height="25"></a>
    </div>
  </div>
</footer>