<div class="container">
<div class="col-12">
<h1>About us</h1>
<img src="/img/ludovit-scholtz-380.png" class="img-thumbnail float-right" height="250" width="250" />
<p>The CZ-FIN project was created at Hackathon <a target="_blank" href="https://www.hackujstat.cz"> #hackujstat ver. 3.0 </a> as a vision of Ludovit Scholtz to create a unified automated government data aggregator with the ability to compile a company rating based on data available from the government. The wider jury rated the project as one of the top 3, but the project did not rank in the top three after the evaluation of the narrower jury.</p>
<p>Despite the unfavorable evaluation of the short jury on hackathone, Ludovit Scholtz continued to develop the application. Added linking to the older Slovak version of the portal, which processed the accounting data of all Slovak companies - SK-FIN. Also, the older media monitoring project was expanded to include other Czech media and was tightened to a commercial product.</p>

<p>Currently the project is in a state where we offer a lot of data for free - for example, linking company data to state datasets, categorizing top companies by activity, or simple search. Since human resources and servers are not free, we have chosen to monetize the products under licenses. The lowest Fin PERSONAL license unlocks hidden company data - contact details and it is also possible to set up daily or monthly monitoring. The medium-sized Fin PREMIUM license unlocks advanced business search with the ability to export to Excel. At the same time, higher limits of daily and monthly monitoring are available and live monitoring is also available - within a few minutes after the publication of the article containing the monitored expression, the user will be sent an email with a link to the article. There are no limits on the number of users assigned to the license or expression tracking in the highest Fin ENTERPRISE license.</p>

<h2>Help us keep the government transparent</h2>
<ul>
    <li>We monitor all available data</li>
    <li>We pair state company data on the company profile</li>
    <li>We're monitoring the media</li>
    <li>We increase the transparency of companies and the government</li>
</ul>
<p>It will help us if you buy at least <a href="/Cenik">one of our licenses</a> or recommend us to your friend.</p>

</div>
</div>