<div class="container">
<div class="col-12">
<h1>O nás</h1>
<img src="/img/ludovit-scholtz-380.png" class="img-thumbnail float-right" height="250" width="250" />
<p>Projekt CZ-FIN vznikol na Hackathone <a target="_blank" href="https://www.hackujstat.cz">#hackujstat ver. 3.0</a> ako vízia Ľudovíta Scholtza na vytvorenie jednotného automatizovaného agregátora štátnych údajov s možnosťou zostavenia ratingu spoločností podľa údajov ktoré má štát dostupné. Širšia porota ohodnotila projekt ako jeden z top 3, avšak projekt sa po hodnotení užšej poroty neumiestnil v prvej trojke. Konšpiračné teórie tvrdia, že člen užšej poroty z hlidacstatu.cz považoval projekt ako novo vznikajúcu konkurenciu a na projekt dal ban. Aký význam by malo pre porotcov vysoko hodnotiť všebecne užitočný projekt agregátora všetkých štátnych údajov podľa kontextu s otvoreným kódom?? Radšej nech vyhrá chatbot nad niekoľkými datasetmi ktorý nikto nikdy nepoužuje..</p>
<p>Aj napriek nepriaznivému hodnoteniu užšej poroty na hackathone, Ľudovít Scholtz pokračoval vo vývoji aplikácii. Bolo pridané prelinkovanie na staršiu slovenskú verziu portálu ktorá spracovávala údaje o účtovníctvach všetkých slovenských spoločností - SK-FIN. Taktiež bol rozšírený starší projekt monitoringu médií o ďalšie české médiá a bol dotiahnutý do stavu komerčného produktu.</p>

<p>Aktuálne je projekt v stave kde ponúkame mnoho údajov zadarmo - napríklad prelinkovanie údajov firmy na štátne datasety, kategorizácia top firiem podľa činností, alebo jednoduché vyhľadávanie. Keďže ľudské zdroje ani servre nie sú zadarmo, vybrali sme si monetizáciu produktov podľa licencií. V najnižšej licencii Fin PERSONAL sa odomykajú skryté údaje o firmách - kontaktné údaje a zároveň je možné nastaviť denný alebo mesačný monitoring. V strednej licencii Fin PREMIUM sa odomyká pokročilé vyhľadávanie firiem s možnosťou exportu do Excelu. Zároveň sú dostupné vyššie limity denných a mesačných monitoringov a je dostupný aj živý monitoring - do niekoľkých minút po zverejnení článku ktorý obsahuje sledovaný výraz sa odošle email užívateľovi s linkom na článok. V najvyššej licencii Fin ENTERPRISE nie sú žiadne limity počtu užívateľov priradených k licencii ani pre sledovanie výrazov.</p>

<h2>Pomozte nám udržovat český stát transparentní</h2>
<ul>
    <li>Sledujeme všetky dostupné dáta</li>
    <li>Párujeme štátne firemné dáta na firemný profil</li>
    <li>Sledujeme médiá</li>
    <li>Zvyšujeme transparentnost firem aj českého státu</li>
</ul>
<p>Pomôžete nám ak si kúpite aspoň <a href="/Cenik">jednu z našich licencií</a> alebo nás odporučíte známim.</p>

</div>
</div>