<div class="container">
<div class="col-12">
<h1>O nás</h1>
<img src="/img/ludovit-scholtz-380.png" class="img-thumbnail float-right" height="250" width="250" />
<p>Projekt CZ-FIN vznikl na Hackathone <a target="_blank" href="https://www.hackujstat.cz">#hackujstat ver. 3.0</a> jako vize Ľudovíta Scholtza na vytvoření jednotného automatizovaného agregátoru státních údajů s možností sestavení ratingu společností podle údajů které má stát dostupné. Širší porota ohodnotila projekt jako jeden z top 3, avšak projekt se po hodnocení užší poroty neumístil v první trojce. Konspirační teorie tvrdí, že člen užší poroty z hlidacstatu.cz považoval projekt jako nově vznikající konkurenci a na projekt dal ban. Jaký význam by mělo pro porotce vysoce hodnotit všebecne užitečný projekt agregátoru všech státních údajů podle kontextu s otevřeným kódem ?? Raději ať vyhraje chatbot nad několika Datasety který nikdo nikdy nepoužil ..</p>
<p>I přes nepříznivému hodnocení užší poroty na hackathone, Ľudovít Scholtz pokračoval ve vývoji aplikaci. Bylo přidáno prolinkování na starší slovenský verzi portálu která zpracovávala údaje o účetnictví všech Slovenská společností - SK-FIN. Rovněž byl rozšířen starší projekt monitoringu médií o další české média a byl dotažen do stavu komerčního produktu.</p>

<p>Aktuálně je projekt ve stavu kde nabízíme mnoho údajů zdarma - například prolinkování údajů firmy na státní Datasety, kategorizace top firem podle činností, nebo jednoduché vyhledávání. Jelikož lidské zdroje ani servery nejsou zdarma, vybrali jsme si monetizaci produktů dle licencí. V nejnižší licenci Fin PERSONAL se odemykají skryté údaje o firmách - kontaktní údaje a zároveň je možné nastavit denní nebo měsíční monitoring. Ve střední licenci Fin PREMIUM se odemyká pokročilé vyhledávání firem s možností exportu do Excelu. Zároveň jsou dostupné vyšší limity denních a měsíčních monitoringů a je dostupný i živý monitoring - do několika minut po zveřejnění článku obsahujícího sledovaný výraz se odešle email uživateli s linkem na článek. V nejvyšší licenci Fin ENTERPRISE nejsou žádné limity počtu uživatelů přiřazených k licenci ani pro sledování výrazů.</p>

<h2>Pomozte nám udržovat český stát transparentní</h2>
<ul>
    <li>Sledujeme všechny dostupné data</li>
    <li>Párujeme státní firemní data na firemní profil</li>
    <li>Sledujeme média</li>
    <li>Zvyšujeme transparentnost firem i českého státu</li>
</ul>
<p>Pomůžete nám pokud si koupíte alespoň <a href="/Cenik">jednu z našich licencí</a> nebo nás doporučíte známým.</p>

</div>
</div>