<div class="container">
    <h1>GDPR a ochrana osobních údajů</h1>
    <p>Nařízení Evropského parlamentu a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob při zpracovávání osobních údajů a o volném pohybu těchto údajů (dále jen "GDPR") je účinné. Toto nařízení se týká fyzických osob, a v shlédnout že stránka agreguje a zpracovává informace o právnických osobách se toto nariadanie naší činnosti netýká.</p>
    <p>Přesto pokud máte pocit, že potřebujete skrýt údaje o Vašem podnikání, kontaktujte nás přes chat nebo na email info __ AT __ cz-fin.com. Zakrývání informací o podnikání však považujeme za podezřelý krok a proto se připravte, že namísto firemní stránky s údaji na firmu uvedeme varovnou hlášku o této situaci.</p>
</div>