<div class="container">

    <h1>GDPR and privacy policy</h1>
    <p>Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of individuals with regard to the processing of personal data and on the free movement of such data ('GDPR') is effective. This Regulation applies to individuals, and since the site aggregates and processes information about legal entities, this Regulation does not apply to our activities.</p>
    <p>However, if you feel you need to hide your business data, please contact us via chat or email info __ AT __ cz-fin.com. However, we consider hiding business information a suspicious step, so be prepared to provide a warning message about this situation instead of your business data page.</p>

</div>