<div class="container">

    <h1>Výber produktu a platby</h1>
    <p>Vyberte si jednu z licencií podľa Vašich požiadavok a popisu v <a href="/Cenik">cenníku</a></p>
    <ul>
    <li><a href="/Personal">Licencia Fin PERSONAL</a></li>
    <li><a href="/Premium">Licencia Fin PREMIUM</a></li>
    <li><a href="/Enterprise">Licencia Fin ENTERPRISE</a></li>
    </ul>
    <p>Platbu za licenciu môžete vykonať prostredníctvom jednej z nasledujúcich platobných metód:</p>
    <h2>Povolené platobné metódy</h2>
    <p>Pre Vaše pohodlie akceptujeme nasledovné platobné metódy:</p>
    <h3>Platba bankovým prevodom - FIO</h3>
    <p>Ak máte FIO banku najefektívnejší spôsob je úhrada na bankový účet v rámci banky.</p>
    <h3>Platba z inej banky</h3>
    <p>Pre platby z inej banky môžete použiť úhradu na bankový účet alebo prostredníctvom GoPay platobnej brány.</p>
    <p>Pre vystavenie zálohovej faktúry na stránke informáciách o platbe kliknite na políčko vystaviť zálohovú faktúru. Zálohová faktúra s kópiou obchodných podmienok Vám bude odoslaná na email.</p>
    <h3>Platba kartou</h3>
    <p>Akceptované typy kariet:</p>
    <table>
    <tr><td style="width:100px"><img src="/img/logo/visa.png" height="15"></td><td>VISA</td></tr>
    <tr><td><img src="/img/logo/visa-electron.png" height="20"></td><td>VISA ELECTRON</td></tr>
    <tr><td><img src="/img/logo/mastercard.png" height="20"></td><td>MASTERCARD</td></tr>
    <tr><td><img src="/img/logo/maestro.png" height="20"></td><td>MAESTRO</td></tr>
    </table>
    <h3>Bitcoin</h3>
    <p>Pre platbu bitcoinom zvoľte na stránke platby za licenciu "Platba bitcoinom".</p>
    <table>
    <tr><td style="width:100px"><img src="/img/logo/bitcoin.png" height="30"></td><td>BITCOIN ACCEPTED</td></tr>
    </table>

</div>