<div class="container">

    <h1>Výběr produktu a platby</h1>
    <p>Vyberte si jednu z licencí podle Vašich požadavků a popisu v <a href="/Cenik">ceníku</a>:</p>
    <ul>
    <li><a href="/Personal">Licence Fin PERSONAL</a></li>
    <li><a href="/Premium">Licence Fin PREMIUM</a></li>
    <li><a href="/Enterprise">Licence Fin ENTERPRISE</a></li>
    </ul>
    <p>Platbu za licenci můžete provést prostřednictvím jedné z následujících platebních metod:</p>
    <h2>Povolené platební metody</h2>
    <p>Pro Vaše pohodlí akceptujeme následující platební metody:</p>
    <h3>Platba bankovním převodem - FIO</h3>
    <p>Pokud máte FIO banku nejefektivnější způsob je úhrada na bankovní účet v rámci banky.</p>
    <h3>Platba z jiné banky</h3>
    <p>Pro platby z jiné banky můžete použít úhradu na bankovní účet nebo prostřednictvím GoPay platební brány.</p>
    <p>Pro vystavení zálohové faktury na stránce informacích o platbě klikněte na políčko vystavit zálohovou fakturu. Zálohová faktura s kopií obchodních podmínek Vám bude odeslána na email.</p>
    <h3>Platba kartou</h3>
    <p>Akceptovány typy karet:</p>
    <table>
    <tr><td style="width:100px"><img src="/img/logo/visa.png" height="15"></td><td>VISA</td></tr>
    <tr><td><img src="/img/logo/visa-electron.png" height="20"></td><td>VISA ELECTRON</td></tr>
    <tr><td><img src="/img/logo/mastercard.png" height="20"></td><td>MASTERCARD</td></tr>
    <tr><td><img src="/img/logo/maestro.png" height="20"></td><td>MAESTRO</td></tr>
    </table>
    <h3>Bitcoin</h3>
    <p>Pro platbu Bitcoinem zvolte na stránce platby za licenci "Platba Bitcoinem"</p>
    <table>
    <tr><td style="width:100px"><img src="/img/logo/bitcoin.png" height="30"></td><td>BITCOIN ACCEPTED</td></tr>
    </table>

</div>