<h1>Společně otevíráme data 2019</h1>
<p>Tento dokument slúži ako pomoc pre porotcov pre hodnotenie aplikácie CZ-FIN.</p>
<h2>Ad 3. Účel a smysl Soutěže</h2>
<p>Aplikace CZ-FIN vznikla na hackathone #hackujstat. Vaša súťaž podporila moju motiváciu a ďalší vývoj tejto aplikácie, za čo som Vám vďačný. <!-- Vzhľadom na moje očakávanie, že porotcovia vyberú tento projekt ako najlepší, pretože vytvára dlhodobo udržateľný systém ktorý pravidelne monitoruje a analyzuje všetky štátne dáta, po hackathone kde užšia porota posunula projekt z top 3 do nevýhernej pozície som bol pomerne demotivovaný. Avšak pri vyhlasovaní výsledkov na hackathone bola zmienka o Vašej súťaži, tak som si povedal, že sa oplatí dorobiť do projektu ďalšie funkcie a zaregistrovať ho vo Vašej súťaži.--></p>
<h2>Ad 4. Časový rámec Soutěže</h2>
<p>Tento projekt vznikol 13.9.2019. Doména bola registrovaná 2019-09-13T20:38:08Z. Niektoré súčasti projektu napríklad systém AsyncWeb, engine monitoringu médií alebo slovenské datasety vznikli pred týmto termínom.</p>
<h2>Ad 5.5 Kategorie</h2>
<p>Tento projekt si viem osobne predstaviť v kategóriách 1) Transparentnost, 3) Data v každodenním životě, 4) Open Source, 5) Solution App. </p>
<p>1) Transparentnost. Projekt vytvára transparentné prostredie nie len zo strany štátu, ale vytvára transparentné prostredie aj pre firmy.
Široká verejnosť si vie pozrieť každú firmu a nazrieť do ich verejných zákaziek. Pomocou CSV Datasetov napríklad faktúr alebo smlouv môžu firmy sledovať jednotlivých štátnych odberateľov. Celkový cieľ projektu vytvoriť rating firiem prispieva k transparentnosti aj pre štát alebo ďalšie firmy aby videli, či ich obchodný partner je dôveryhodný.
</p>
<p>3) Data v každodenním životě. Projekt prináša kontaktné údaje o firmách ktoré bežný ľudia môžu využiť na kontakt s nimi. Firmy môžu pomocou týchto údajov nájsť ďalších obchodných partnerov.</p>
<p>4) Open Source. Projekt bol vytvorený na frameworku AsyncWeb a má otvorený kód na githube. Periodické sťahovanie všetkých štátnych údajov, ich kontextová analýza, párovanie na validné firmy, mapovanie kontextovo podobných stĺpcov, a vytváranie kompletných kontextových datasetov je súčasť zdrojových kódov. Súčasťou otvorených zdrojových kódov je aj kompletná webstránka cz-fin.com a niektoré súčasti monitoringu médií.</p>
<p>5) Solution App. Za významný spoločenský problém považujem aj napárovanie všetkých firemných údajov od štátu na jedno miesto. Táto aplikácia tento problém rieši a zároveň vytvára dlhodobo udržateľný systém po finančnej aj technologickej stránke.</p>
<p>Bol som nútený si vybrať iba 2 z týchto kategórií, a myslím že najviac projekt vystihuje kategória 1 a 4. Ak by ste mali návrh na zmenu kategórie, som otvorený ju zmeniť.</p>
<h2>Ad 5.6. a) český jazyk</h2>
<p>Na hackathone #hackujstat neboli žiadne voľné osoby ktoré by sa pripojili ku mne do teamu. Keďže som Slovák, niektoré súčasti môžu byť napísané po slovensky, ale som sa snažil dávať pozor na to aby česká verzia bola po česky.</p>
<p>Verím, že slovenčina tohto dokumentu nebude prekážať.</p>
<h2>Ad 5.6. b) Otevřená data</h2>
<p>Aplikácia používa otvorené dáta z rôznych zdrojov. Primárny zdroj je zoznam všetkých datasetov na data.gov.cz. Ďalší primárny zdroj je ARES. Ďalej používa RES, zoznam dátových stránok, register spoľahlivosti platcov dph a insolvenčný register.</p>
<h2>Ad 5.6. c) autor</h2>
<p>Kompletne celú aplikáciu som napísal sám - Ľudovít Scholtz.</p>
<h2>Ad 5.7. funkčnost</h2>
<p>Aplikácia je plne funkčná a dostupná online od 14.9.2019.</p>
<h2>Ad 5.8. prístup</h2>
<p>Časť aplikácie je funkčná až po prihlásení. Pre porotcov sú dostupné nasledujúce promo kódy ktoré Vám sfunkčnia FinENTERPRISE licenciu na 1 mesiac.</p>
<ul>
 <li>OSF01</li>
 <li>OSF02</li>
 <li>OSF03</li>
 <li>OSF04</li>
 <li>OSF05</li>
 <li>OSF06</li>
</ul>
<p>Postup aktivácie</p>
<ol>
 <li>Zaregistrujte sa napríklad na <a href="https://www.cz-fin.com/Enterprise">https://www.cz-fin.com/Enterprise</a></li>
 <li>Na stránke slevového kupónu (<a href="https://www.cz-fin.com/ApplyBonus/type=enterprise">https://www.cz-fin.com/ApplyBonus/type=enterprise</a>) zadajte jeden z kódov vyššie.</li>
 <li>Aktivuje sa Vám licencia .. v užívateľskom menu uvidíte položku Fin ENTERPRISE</li>
</ol>
<p>Ak je s týmto popisom problém prosím kontaktujte ma na ludovit@scholtz.sk.</p>


<h2>Ad 6.1.a) dopad</h2>
<h3>Mikropohľad na dopad na firmy</h3>
<p>Konkrétna firma, prakticky z ľubovoľného oboru pôsobnosti si môže pomocou našich údajov vyhľadať ďalších firemných zákazníkov, alebo štátne spoločnosti ktorým môže dodávať ich tovar alebo službu.</p>
<p>Spoločnosti o ktorých sa hovorí v médiách môžu monitorovať seba alebo svoju konkurenciu.</p>
<h3>Mikropohľad na fyzické osoby</h3>
<p>Fyzická osoba ktorá má záujem kontrolovať firmu si môže fulltextovo vyhľadať konkrétnu firmu a vidieť jej linky na štát</p>
<h3>Makropohľad firiem</h3>
<p>Používaním tohto projektu z dlhodobého pohľadu sa zväčší prehľad o firmách, získajú nových zákazníkov a zákazky a zväčší sa konkurencia na trhu.</p>
<h3>Makropohľad dopadov na fyzické osoby</h3>
<p>Fyzické osoby budú počúvať o prelinkovaní firiem na štát a ich väčšej kontrole, a budú žiť štastnejší život s vyššou dôverou v štát.</p>

<h2>Ad 6.1.b) inovace</h2>
<p>Aj keď katalógy firiem sú bežná záležitosť, prelinkovanie zdrojových údajov od štátu na profil firmy nie je bežná záležitosť. Hlidacstatu.cz má najbližšie k tomuto projektu, ale na rozdiel od neho je tento projekt viac zameraný na firmy a monitoring aj neštátnych údajov. Hlavná pridaná hodnota tohto projektu je však v inovaci mapovania zdrojových údajov kde na základe zjednotenia názvoslovia kontextovo podobných stĺpcov z rôznych zdrojov sa docieli efekt jedného kontextového datasetu napríklad pre faktúry alebo smlouvy. Keď sa pridávajú ďalšie faktúry z ďalších zdrojov do data.gov.cz automaticky sa to spracuje a zobrazí vo faktúrach, nalinkuje na firemný profil a zhrnie do CSV datasetu faktúr.</p>
<p>Aplikácia umožňuje vyhľadávanie v agregovaných databázach, čo znamená, že keď niekto chce vyhľadať faktúru alebo zmluvu ktorá obsahuje určitý text, môže tak urobiť po kliknutí na vyhľadávanie zo zoznamu našich dátových sád - napríklad <a href="https://sk.cz-fin.com/ContextSearch/t=data_all_core_faktury">Vyhľadávanie vo faktúrach</a>.</p>
<h2>Ad 6.1.c) funkčnost</h2>
<p>Hlavný prehľad je prehľad firiem podľa kategórií činností zoradený podľa ratingu firmy.</p>
<p>Je dostupné fulltextové vyhľadávanie v názve spoločnosti ktoré nie je závislé na diakritike.</p>
<p>Celá stránka bola primárne robená ako SEO friendly.. Hlavná devíza projektu je cachovanie stránok firiem a kategórií tak aby každý request trval pod 30 ms. Je dostupná mapa stránky sitemap.xml</p>
<p>Predpokladám, že monitoring médií sa nebude v tejto súťaži hodnotiť keďže sa nejedná o štátne údaje, ale na profile firmy je napríklad prepojenie tohto monitoringu s firmou ak konateľ alebo firma sa vyskytuje v médiách.</p>
<h3>Ad 6.1.d) využití otevřených dat</h3>
<p>Aplikácia používa všetky dáta z data.gov.cz a ďalšie datasety ako ARES, RES, zoznam dátových stránok, register spoľahlivosti platcov DPH a insolvenčný register. Ďalšie datasety ktoré by obsahovoali link na firmy rád pridám.</p>

<h2>Ad 8. Závěrečná ustanovení</h2>
<p>Ďakujem za možnosť sa zúčastniť tejto súťaže. Verím, že prípadná výhra by mohla mať pre projekt mediálnu podporu a projekt sa rozšíril medzi verejnosť. Finančné prostriedky z výhry investujem do ďalšieho vývoja tohto projektu - napríklad automatizovaného prekladu do angličtiny, kúpy nového disku alebo vybudovanie natívnej aplikácie pre mobily.</p>